body {
    background-color: #f9f9f9;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.body-man {
   width: 70%;
   /*min-width: 574px;*/
   display: inline-block;
   margin:0;
   float:right;
}

.bodylog{
    width: 70%;
    display: inline-block;

}

main {
    flex: 1 0 auto;
}

.rounded {
    border-radius: 26px;
}

.rank{
    height: 16px;
    display: inline-block;
}

.ranklrg{
    height: 29px;
    margin-left: 45%;
    display: inline-block;
}

.sidebar{
    width: 30%;
    /*min-width:246px;*/
    padding: 5%;
    display: inline-block;
    margin-right: 0px;
    float:left;
}
.sidebarlog{
    width: 30%;
    padding-left: 10%;
    padding-top: 10%;
    display: inline-block;
    margin-right: 0px;
    float:left;
}

.profileBtn{
    margin-left: 30px;
}

.profilePic{
    margin: 10px 0 30px 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 70%;
    border-radius: 100px;
    border: solid #dedede 5px;
}

.profilePicSmall{
    width: 20%;
    border-radius: 100px;
}

#ppSmall {
    margin-right: 15px;
}

#personName{
    font-size: 1 rem;
}

.locspace{
    margin-top: 100px;
    margin-left: 20px
}

#itemsOffer{
    margin-bottom: 30px;
    margin-left: 20px;
    color: grey;
    display:inline-block;
}

.headspace{
    margin-top: 30px;
    color: grey;
}

.cardIcon{
    margin-right: 10px;
}
.personName{
    width: 50px;
    padding-right: -10px;
    white-space:nowrap;
    overflow:hidden;
    margin-right: 15px;
}

.macbookimg {
    width:130%;
}
.personCard{
    margin: 24px 24px 24px 0.5vw;
}

.titheight{
    margin-bottom: 20px;
}