<html>
<head>
    <title>SupplyMe</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://use.fontawesome.com/32134a2b39.js"></script>
    <link rel="stylesheet" href="/static/stylesheet.css">
    <script type="text/javascript">
        function toaster(msg){
            Materialize.toast(msg, 4000);
        }
    </script>

    <script src="/static/js/moment.min.js"></script>
</head>
    

<body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <!-- Main Content -->
    <main>
        <!-- Navigation bar -->
        <nav>
            <div class="nav-wrapper white">
                <div class="container"> <a href="{{ url_for('index') }}" class="pink-text brand-logo left">SupplyMe</a>
                    <ul class="right hide-on-med-and-down">
                        {% if not (g.user.is_authenticated) %}
                        <li><a href="{{ url_for('oauth_authorize', provider='facebook') }}"" class="rounded waves-effect waves-light btn pink">SIGN IN</a></li>
                        {% endif %} {% if g.user.is_authenticated %}
                        <li><a href="{{ url_for('logout') }}" class="rounded waves-effect waves-light btn pink">SIGN OUT</a></li>{% endif %}
                    </ul></div>
            </div>
        </nav>
        <!-- Error messages -->
        <div class="container"> {% with messages = get_flashed_messages() %} {% if messages %}
            <ul> {% for message in messages %}
                <li>
                    <script type="text/javascript">
                        toaster("{{ message }}");
                    </script>
                </li> {% endfor %} 
            </ul> 
        {% endif %} {% endwith %} </div>
        <!-- Space for content that inherits this -->{% block content %}{% endblock %} </main>
    <!-- Footer -->
</body>

</html>