{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title pink-text">Edit your profile</span>
                    <div class="row">
    <form class="col s12" action="" method="POST" name="edit">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col s12">
                Your nickname:
                {{ form.nickname(size=24) }}
            </div>
        </div>
        {% if form.errors.nickname|length > 0 %}
            <div class="row">
                <div class="col s12">
                    {% for error in form.errors.nickname %}
                        <br><span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col s12">
                About yourself:
                <div class="materialize-textarea">
                    {{ form.about_me(cols=32, rows=4) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                Current location:
                {{ form.location(size=24) }}
            </div>
        </div>
        <button class="btn waves-effect waves-light pink" type="submit" name="submit" value="Save Changes">Save</button>
         <a class="waves-effect waves-pink btn-flat" href="{{ url_for('user', nickname=g.user.nickname) }}">Back</button>
    </form>
{% endblock %}
