{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <span class="card-title indigo-text">Welcome to UofTHacks, {{ g.user.nickname }}</span>
                    <div class="row">
                        <h3> SWAG </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s7">
            <div class="card">
                <div class="card-content">
                    Lend Items:<br>
                    {% for lend in litems %}
                        {{ lend }}
                    {% endfor %}
                    <br>
                    Borrow Items:<br>
                    {% for borrow in bitems %}
                        {{ borrow.item_name }}<br>
                        {{ borrow.item_location }}
                        {{ borrow.item_time_pickup }}
                    {% endfor %}
                    <br>
                    <a href="{{ url_for('lend_item') }}">Lend Item</a>
                    <a href="{{ url_for('borrow_item') }}">Borrow Item</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}