{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
function set_openid(openid, pr) {
    u = openid.search('<username>')
    if (u != -1) {
        // openid requires username
        user = prompt('Enter your ' + pr + ' username:')
        openid = openid.substr(0, u) + user
    }
    form = document.forms['login'];
    form.elements['openid'].value = openid
}
</script>

<div class="sidebarlog">
    <h3>Supplies, made simple.</h3>
    <h5>Join the millions of other users that have made the switch!</h5> 
    <!--
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            <a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook</a>
        </p>
        <p><input type="submit" value="Sign In"></p>
    </form>
    -->
</div>
<div class="body-man">
<img src="static/macbook-mock-dribbble.png" class="macbookimg">
</div>
{% endblock %}