{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s5">
            <h4 class="header indigo-text">User Profile</h4>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{ user.avatar(200) }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p style="font-size: 16pt;" class="indigo-text"><b>{{ user.nickname }}</b></p>
                        {% if user.about_me %}
                            <p>{{ user.about_me }}</p>
                        {% endif %}

                        {% if user.last_seen %}
                            <p><em>Last seen on: {{ user.last_seen }}</em></p>
                        {% endif %}
                        {% if user.location %}
                            <p>Current location: {{ user.location }}</p>
                        {% endif %}
                    </div>
                    <div class="card-action">
                        {% if user.id == g.user.id %}
                            <a class="indigo-text" href="{{ url_for('edit') }}">Edit your profile</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col s7">
            <h4 class="header indigo-text">User Stuff</h4>
        </div>
    </div>
{% endblock %}